﻿
.w3-padding-1 {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.w3-center {
    text-align: center !important;
}

.w3-container:after, .w3-container:before {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #0C1F3C;
    color: #f5f5f5;
    padding: 0px;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

    footer a {
        color: #f5f5f5;
    }

        footer a:hover {
            color: #777;
            text-decoration: none;
        }

.demo {
    background: #77C9D4;
}

.serviceBox {
    border: 1px solid #0e6787;
    /*border-right: 4px solid #0e6787;*/
    background: #fff;
    margin-bottom: 20px;
    padding: 40px 10px 10px;
    transition: all 0.3s ease-in-out 0s;
}

    .serviceBox:hover {
        border-color: #77C9D4;
    }

    .serviceBox .service-icon {
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        background: #27c9c6;
        text-align: center;
        float: left;
        font-size: 20px;
        color: #fff;
        margin: 0 20px 0 0;
        transition: all 0.3s ease-in-out 0s;
    }

    .serviceBox .title {
        display: inline-block;
        font-size: 20px;
        color: #041829;
        border-bottom: 3px solid #d9e7ed;
        padding-bottom: 6px;
        margin: 0 0 20px 0;
        transition: all 0.3s ease-in-out 0s;
    }

    .serviceBox:hover .title {
        border-color: #27c9c6;
    }

    .serviceBox .description {
        font-size: 12px;
        color: #929a9c;
        margin: 0 0 11px 0;
    }

    .serviceBox .read-more {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #27c9c6;
        text-transform: capitalize;
    }

        .serviceBox .read-more:hover {
            letter-spacing: 0.3px;
            color: #27c9c6;
        }

        .serviceBox .read-more:after {
            content: "\f0da";
            font-family: 'FontAwesome';
            font-size: 16px;
            color: #27c9c6;
            margin-left: 7px;
            transition: all 0.2s ease 0s;
        }

.me {
    background-color: #0B3C5D;
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0F1626;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: white;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.headerDell {
    background-color: #1D2731;
    color: white;
    text-transform: uppercase;
}

.affix {
    top: 0;
    width: 100%;
}

    .affix + .tab-content {
        padding-top: 50px;
    }

#main {
    transition: margin-left .5s;
    padding: 0px;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

    .dropdown-menu li a:hover {
        background-color: red !important;
    }

body {
}

.brand,
.address-bar {
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: red;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.page-top {
    margin-top: 0px;
    text-transform: uppercase;
    color: red;
    border-bottom: 1px solid #eeeeee;
}

.top-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #4dc3ff;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #4dc3ff;
        background-color: #eeeeee;
    }
}
