﻿@model PlatinumReports.Models.SearchDeviceHistory

@{
    ViewBag.Title = "GetDeviceHistory";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

<link href="~/Content/DatatableSite.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblReports').hide();
        $("#loadReports").click(function (e) {
            e.preventDefault();
            $('#tblReports').show();            
            $('#tblReports').DataTable({
                "searching": true,
                "ordering": true,
                "pagingType": "full_numbers",
                "bDestroy": true,
                "ajax": {
                    url: "@Url.Action("GetDeviceHistoryData", "Report")",
                    data: {
                        model: getParams()
                    }
                },
                "columns": [
                    { "data": "ViewName" },
                    { "data": "ControllerName" }]
            });
        });
    });

    function getParams() {
        var obj = {};
        obj.ServiceTag = $("#ServiceTag").val();
        obj.FromDate = $("#FromDate").val();
        obj.ToDate = $("#ToDate").val();
        return JSON.stringify(obj);
    }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (ViewBag.ReportName == null)
    {
        ViewBag.ReportName = "Device History";
    }
    <button type="button" class="btn btn-danger btn-xs" id="buttonLabel">@ViewBag.ReportName</button>
    <div class="divForm">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table-responsive" style="border:0px">
            <thead>
                <tr>
                    <th>
                        Service Tag:
                    </th>
                    <th>
                        From Date:
                    </th>
                    <th>
                        To Date:
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.ServiceTag, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Service Tag" } })
                        @Html.ValidationMessageFor(model => model.ServiceTag, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Select From Date" } })
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter To Date" } })
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="submit" value="Get Device History" class="btn btn-primary" id="loadReports" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table id="tblReports" class="table-striped table-hover table-condensed" cellspacing="0" data-page-length='5'>
            <thead>
                <tr>
                    <th>View Name</th>
                    <th>Controller Name</th>
                </tr>
            </thead>
        </table>
    </div>
}
