﻿@model IEnumerable<PlatinumDataAccessLayer.DellReport>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        @{ int index = 1;}
       
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="serviceBox">
                    <span class="service-icon">@index</span>
                    <h3 class="title">@Html.DisplayFor(modelItem => item.ReportHeader)</h3>
                    <p class="description">@Html.DisplayFor(modelItem => item.ReportDescription)</p>
                    @Html.ActionLink("View", @Html.DisplayFor(modelItem => item.ViewName).ToString(), @Html.DisplayFor(modelItem => item.ControllerName).ToString(), new { reportName = @Html.DisplayFor(modelItem => item.ReportHeader) }, new { @class = "read-more", title = "View Report" })
                </div>
            </div>
            index++;
        }
    </div>
</div>


